fastapi
uvicorn
numpy
librosa
soundfile
pedalboard
sqlalchemy
pydantic
email-validator
passlib[bcrypt]
bcrypt
python-multipart
python-jose
python-dotenv
scipy
scikit-learn
demucs
torch
torchaudio
yt-dlp
ffmpeg
